<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javacheck.mybatis.mapper.TestPaperMapper">
    <select id="getAllTestPaper" resultType="com.javacheck.mybatis.entity.TestPaper">
      select
        *
      FROM
        kh_testpaper where is_use = 1
      limit #{page},#{size}
    </select>
    <select id="getTotal" resultType="java.lang.Long">
       select count(*) from kh_testpaper;
    </select>


</mapper>